<form class="form_style" [formGroup]="form_filter_paid" (ngSubmit)="send()">
    <h2>Filtrar</h2>
    <div class="show_info">
        <span>Seleccione una opcion para filtrar</span>
        <select name="" id="" formControlName="option">
            <option value="date_debts">Fecha credito</option>
            <option value="debtors_fk">Deudor</option>
            <option value="id_debtors_credit">Numero de credito</option>
        </select>
    </div>

    <div *ngIf="form_filter_paid.value.option == 'date_debts'">
        <span>Fecha credito</span>
        <input type="date" formControlName="value">
    </div> 

    <div *ngIf="form_filter_paid.value.option == 'debtors_fk'">
        <span>Nombre deudor</span>
        <select name="" id="" formControlName="value">
            <option value="" selected>Seleccione</option>
            <option *ngFor="let debtor of debtors" value='{{debtor.id_debtors}}'>{{debtor.names_ + " " +debtor.lastnames}}</option>
        </select>
    </div>

    <div *ngIf="form_filter_paid.value.option == 'id_debtors_credit'">
        <span>Numero de credito</span>
        <input type="number" formControlName="value">
    </div>
    <button>Filtrar</button>
    <span class="close" (click)="close_modal_filter()"><img src="../../../assets/icon/cerrar.png" alt=""></span>
</form>