
<section class="table_container">
    <div class="filter" >
        <img src="../../../assets/icon/icon_go_back.png" alt="Atrás" (click)="ngOnInit()">
        <span>Lista de Productos</span>
        <img src="../../../assets/icon/icon_filter.png" alt="Filtro" (click)="open_filter()">
    </div>
    <table  class="table_style">
        <thead>
            <tr>
                <th class="column_id justify_center">Nº Producto</th> 
                <th class="justify_center">Producto</th>  
                <th class="column_icon justify_center">Bandejas por caja</th>
                <th class="column_icon justify_center">Editar</th> 
                <th class="column_icon justify_center">Eliminar</th>
            </tr> 
        </thead>
        <tbody>
            <tr *ngFor="let pro of products | paginate: { itemsPerPage: total_size, currentPage: currentPage }">
                <td data-label="Nº Deudor" class="column_id justify_center">{{pro.id_product}}</td> 
                <td data-label="Nombre" class="justify_center">{{pro.product_name}}</td>
                <td data-label="Nombre" class="justify_center">{{pro.trays_per_box}}</td>
                <td data-label="Editar" class="column_icon justify_center"><span (click)="open_modal_edit(pro)"><img src="../../../assets/icon/icon_edit.png" alt=""></span></td>
                <td data-label="Eliminar" class="column_icon justify_center"><span (click)="delete_record(pro.id_product)"><img src="../../../assets/icon/icon_delete.png" alt=""></span></td>
            </tr>
        </tbody>
    </table>
    <div class="pagination_style">
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
</section>


<section class="hidden" [ngClass]="{'show_table': open_edit_product_modal}">
    <app-edit-product></app-edit-product>
</section>

<section class="hidden " [ngClass]="{'show_table': open_filter_product_modal}">
    <app-filter-product></app-filter-product>
</section>