<section class="main_menu">
    <h2 routerLink="/creditos/tabla">Inventario</h2>
    <ul>
        <li routerLink='lista_deudas' routerLinkActive="route_active"><img src="../../../assets/icon/icon_list.png" alt="Lista"><span>Lista</span></li>
        <li routerLink='crear_inventario'><img src="../../../assets/icon/icon_add.png" alt="Agregar"><span>Inventario cajas</span></li>
        <li routerLink='crear_inventario_unidades'><img src="../../../assets/icon/icon_add.png" alt="Agregar"><span>Inventario unidades</span></li>
        <li routerLink='ganancias' routerLinkActive="route_active"><img src="../../../assets/icon/icon_history.png" alt="Historial"><span>Ganancias</span></li>
        <li (click)="open_modal_create_product()"><img src="../../../assets/icon/icon_new_person.png" alt="Nueva persona"><span>Nuevo producto</span></li>
        <li routerLink="productos" routerLinkActive="route_active"><img src="../../../assets/icon/icon_list_people.png" alt="Lista personas"><span>Lista productos</span></li>
    </ul> 
</section> 
<router-outlet></router-outlet>
<!-- <section class="hidden" [ngClass]="{'show_table': add_class}">
    <app-new-credit (close_modal)="close($event)"></app-new-credit>
</section>

<section class="hidden" [ngClass]="{'show_table': open_filter_modal}">
    <app-credits-filter></app-credits-filter>
</section>

<section class="hidden" [ngClass]="{'show_table': open_create_supliers_debts_modal}">
    <app-create-suppliers-debts></app-create-suppliers-debts>
</section> -->

<section class="hidden" [ngClass]="{'show_table': open_create_product_modal}">
    <app-create-product></app-create-product>
</section>
