<!-- <div *ngIf="!is_load" class="load">
    <img src="../../../assets/gift/Rolling-1s-200px.svg" alt="">
</div> -->
<div class="filter">
    <img src="../../../assets/icon/icon_filter.png" alt="Filtro">
    <span>Filtrar</span>
</div>
<table  class="table_style">
    <thead>
        <tr>
            <th class="column_icons justify_center">Id</th> 
            <th class="column justify_center">Nombre</th>  
            <th class="column_icons justify_center">Editar</th> 
            <th class="column_icons justify_center">Eliminar</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let deb of debtors">
            <td data-label="Id" class="column_icons justify_center">{{deb.id_debtors}}</td> 
            <td data-label="Nombre" class="column justify_center">{{deb.names_}}&nbsp;{{deb.lastnames}}</td>
            <td data-label="Editar" class="column_icons justify_center"><span (click)="open_modal_edit_debtor(deb)"><img src="../../../assets/icon/icon_edit.png" alt=""></span></td>
            <td data-label="Eliminar" class="column_icons justify_center"><span (click)="delete_debtor(deb.id_debtors)"><img src="../../../assets/icon/icon_delete.png" alt=""></span></td>
        </tr>
    </tbody>
</table>
<section class="hidden" [ngClass]="{'show_table': open}">
    <app-edit-debtor ></app-edit-debtor>
</section>

