<form class="form_style" [formGroup]="form_paid_off_debts" (ngSubmit)="send()">
    <h2>Información crédito</h2>
    <div class="show_info">
        <span><strong>Fecha:</strong>&nbsp;{{form_paid_off_debts.value.date}}</span>
        <span><strong>Nombre:</strong>&nbsp;{{form_paid_off_debts.value.name_supplier}}</span>
        <span><strong>Valor crédito:</strong>&nbsp;{{form_paid_off_debts.value.value}}</span>
        <span><strong>Saldo actual:</strong>&nbsp;{{form_paid_off_debts.value.balance}}</span>
        <div class="pass_style">
            <span><strong>*Abono:</strong>&nbsp;</span>
            <input type="number" id="cantidad" formControlName="pass" (keyup)="validate_pass(form_paid_off_debts.value.balance)" required>
        </div>
        <div *ngIf="form_paid_off_debts.get('pass')?.invalid && form_paid_off_debts.get('pass')?.touched">
            <div class="validation_message" *ngIf="form_paid_off_debts.get('pass')?.hasError('required')">
                Por favor, ingrese una cantidad
            </div>
        </div>
        <div class="validation_message" *ngIf="pass_error">
            El valor que ingreso es mayor que el valor del saldo.
        </div>
    </div>
    <button type="submit" >Abonar</button>
    <span class="required_fields">Todos los campos con (*) son obligatorios</span>
    <span class="close" (click)="close_form()"><img src="../../../assets/icon/cerrar.png" alt=""></span>
</form> 
