<!-- <div *ngIf="!is_load" class="load">
    <img src="../../../assets/gift/loader.svg" alt="">
</div> -->
<section class="table_container">
    <div class="filter" >
        <img src="../../../assets/icon/icon_go_back.png" alt="Atrás" (click)="ngOnInit()">
        <span>Créditos Pagados</span>
        <img src="../../../assets/icon/icon_filter.png" alt="Filtro" (click)="open_modal_filter()">
    </div>
    <table  class="table_style">
        <thead>
            <tr>
                <th class="column_id justify_center">Nº Crédito</th>
                <th class="justify_center">Fecha crédito</th>
                <th class="justify_center">Valor</th>
                <th class="justify_center">Nombre</th>  
                <th class="justify_center">Pago completado</th> 
            </tr>
        </thead> 
        <tbody>
            <tr *ngFor="let credit of credits_paid | paginate: { itemsPerPage: total_size, currentPage: current_page } ">
                <td data-label="Nº Crédito" class="column_id justify_center">{{credit.id_debtors_credit}}</td>
                <td data-label="Fecha de crédito" class="justify_center">{{credit.date_debts}}</td>
                <td data-label="Valor" class="justify_left">{{credit.value_}}</td>
                <td data-label="Nombre" class="justify_left">{{credit.names_}}&nbsp;{{credit.lastnames}}</td>
                <td data-label="Pago completado" class="justify_center">{{credit.date_paid_off}}</td>
            </tr>

            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </tbody>
    </table>
</section>
<section class="hidden" [ngClass]="{'show_table': open_filter_paid}">
    <app-credits-paid-filter></app-credits-paid-filter>
</section>
