<!-- <div *ngIf="!is_load" class="load">
    <img src="../../../assets/gift/Rolling-1s-200px.svg" alt="">
</div> -->
<table  class="table_style">
    <thead>
        <tr>
            <th class="column justify_center">Id crédito</th>
            <th class="column justify_center">Fecha crédito</th>
            <th class="column justify_center">Valor crédito</th>
            <th class="column justify_center">Nombre</th>  
            <th class="column justify_center">Fecha de pago completado</th> 
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let credit of credits_paid">
            <td class="column justify_center">{{credit.id_debtors_credit}}</td>
            <td class="column justify_center">{{credit.date_debts}}</td>
            <td class="column justify_center">{{credit.value_}}</td>
            <td class="column justify_center">{{credit.names_ + " " + credit.lastnames}}</td>
            <td class="column justify_center">{{credit.date_paid_off}}</td>
        </tr>
    </tbody>
</table>
