<div>
    <table class="table_style">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Total cajas</th>
                <th>Total unidades</th>
                <th>Prestamos</th>
                <th>Deudas</th>
                <th>Base</th>
                <th>Efectivo</th>
                <th>Ganancias</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{profit.date_profit}}</td>
                <td>{{profit.total_box}}</td>
                <td>{{profit.total_unit}}</td>
                <td></td>
                <td>{{profit.total_debts}}</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>