<header>
    <div class="toggle">
        <label class="menu_toggle" [class.active]="claseActiva" (click)="toggleClase()">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </label> 
    </div>
    <div class="logo">
        <img src="../assets/logo.png" alt="Logo" routerLink="/">
    </div>
    <div class="user">
        <span>Usuario</span>
        <img src="../assets/icon/icon_user.png" alt="">
    </div>
</header>
<div class="main_content">
    <section class="navigation_menu" [class.hidden_menu]="hiddenMenu">
        <ul>
            <li routerLink="/inventario" routerLinkActive="route_active_menu"><img src="../assets/icon/icon_inventory.png" alt="">&nbsp;&nbsp;Inventario</li>
            <li (click)="anchoPantalla <= 990 ? toggleClase() : null" routerLink="/creditos" routerLinkActive="route_active_menu"><img src="../assets/icon/icon_credit.png" alt="">&nbsp;&nbsp;Créditos</li>
            <li routerLink="/acreedores" routerLinkActive="route_active_menu"><img src="../assets/icon/icon_supplier.png" alt="">&nbsp;&nbsp;Acreedores</li>
        </ul>
    </section>
    <section class="main_section"  [class.width_content]="widthContent">
        <div class="load" *ngIf="loader_status">
            <img src="../../../assets/gift/loader.svg" alt="">
        </div>
        <router-outlet></router-outlet>
    </section>
</div>
 
