<section class="main_menu">
    <h1>Créditos</h1>
    <ul>
        <li><a routerLink='tabla'>Créditos</a></li>
        <li routerLink='creditos_pagados'>Créditos pagados</li>
        <li (click)="open_table()">Nuevo crédito</li>
        <li (click)="open_table()">Nuevo deudor</li>
    </ul> 
    <a (click)="open_filter()" class="filter"><img src="../../../assets/icon/controles-deslizantes.png" alt=""></a>
</section>
<section class="table_container">
    <router-outlet></router-outlet>
</section>
<section class="hidden" [ngClass]="{'show_table': add_class}">
    <app-new-credit (close_modal)="close($event)"></app-new-credit>
</section>
<section class="hidden" [ngClass]="{'show_table': open_filter_modal}">
    <app-credits-filter></app-credits-filter>
</section>

<div *ngIf="!loader_status" class="load">
    <img src="../../../assets/gift/Rolling-1s-200px.svg" alt="">
</div>
