<section class="header">
    <span class="logo"><img src="../../../assets/logo.png" alt=""></span>
    <input type="checkbox" id="check">
    <label class="menu_toggle" for="check" [class.active]="claseActiva" (click)="toggleClase()">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </label>
    <nav>
        <ul>
            <li><a routerLink="/inventario/cajas">Inventario</a></li>
            <li><a routerLink="/creditos/tabla">Créditos</a></li>
            <li><a routerLink="/proveedores/tabla">Proveedores</a></li>
        </ul>
    </nav>
</section>
