<section class="header">
    <span class="logo"><img src="../../../assets/logo.png" routerLink="/"></span>
    <input type="checkbox" id="check">
    <label class="menu_toggle" for="check" [class.active]="claseActiva" (click)="toggleClase()">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </label>
    <nav>
        <ul>
            <li routerLink="/inventario" routerLinkActive="route_active">Inventario</li>
            <li routerLink="/creditos" routerLinkActive="route_active">Créditos</li>
            <li routerLink="/proveedores" routerLinkActive="route_active">Proveedores</li>
        </ul>
    </nav>
</section>
