<form class="form_style" [formGroup]="form_pass" (ngSubmit)="send()">
    <h2>Información crédito</h2>
    <div class="show_info">
        <span><strong>Fecha:</strong>&nbsp;{{form_pass.value.date_debts}}</span>
        <span><strong>Nombre:</strong>&nbsp;{{form_pass.value.names_}} {{form_pass.value.lastnames}}</span>
        <span><strong>Valor crédito:</strong>&nbsp;{{form_pass.value.value}}</span>
        <span><strong>Saldo actual:</strong>&nbsp;{{form_pass.value.balance}}</span>
        <div class="pass_style">
            <span><strong>*Abono:</strong>&nbsp;</span>
            <input type="text" id="cantidad" formControlName="pass" (keyup)="validate_pass(form_pass.value.balance)" required>
        </div>
        <div *ngIf="form_pass.get('pass')?.invalid && form_pass.get('pass')?.touched">
            <div class="validation_message" *ngIf="form_pass.get('pass')?.hasError('required')">
                Por favor, ingrese una cantidad
            </div>
        </div>
        <div class="validation_message" *ngIf="pass_error">
            El valor que ingreso es mayor que el valor del saldo.
        </div>
    </div>
    <button type="submit" >Abonar</button>
    <span class="required_fields">Todos los campos con (*) son obligatorios</span>
    <span class="close" (click)="close_form()"><img src="../../../assets/icon/cerrar.png" alt=""></span>
</form> 
<div *ngIf="!is_load" class="load">
    <img src="../../../assets/gift/loader.svg" alt="">
</div> 