<div class="load" *ngIf="loader_status">
    <img src="../../../assets/gift/loader.svg" alt="">
</div>
<form class="form_style" [formGroup]="form_filter_history" (ngSubmit)="send()">
    <h2>Filtrar</h2>
    <div class="show_info">
        <span>Seleccione una opción para filtrar</span>
        <select name="" id="" formControlName="option">
            <option value="" selected>Seleccione</option>
            <option value="date_credit">Fecha crédito</option>
            <option value="last_pass_date">Fecha ultimo abono</option>
            <option value="id_debtors">Deudor</option>
            <option value="debtors_credit_fk">Número de crédito</option>
        </select>
        <div *ngIf="form_filter_history.get('option')?.invalid && form_filter_history.get('option')?.touched">
            <div class="validation_message" *ngIf="form_filter_history.get('option')?.hasError('requiredSelected')">
                Por favor, seleccione una opción.
            </div>        
        </div>
    </div>

    <div class="filter_info" *ngIf="form_filter_history.value.option == 'date_credit'">
        <span class="filter_name">Seleccione una fecha</span>
        <input type="date" formControlName="value">
    </div>
    <div class="filter_info" *ngIf="form_filter_history.value.option == 'last_pass_date'">
        <span class="filter_name">Seleccione una fecha</span>
        <input type="date" formControlName="value">
    </div>

    <div class="filter_info" *ngIf="form_filter_history.value.option == 'id_debtors'">
        <span class="filter_name">Seleccione un nombre</span>
        <select name="" id="" formControlName="value">
            <option value="" selected>Seleccione</option>
            <option *ngFor="let debtor of debtors" value='{{debtor.id_debtors}}'>{{debtor.names_ + " " +debtor.lastnames}}</option>
        </select>
    </div>

    <div class="filter_info" *ngIf="form_filter_history.value.option == 'debtors_credit_fk'">
        <span class="filter_name">Ingrese el número del crédito</span>
        <input type="number" formControlName="value">
    </div>
    <button>Filtrar</button>
    <span class="close" (click)="close_modal_filter()"><img src="../../../assets/icon/cerrar.png" alt=""></span>
</form>

