/* ========== ResetCSS ========== */
*,
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
tr,
select,
input {
    appearance:inherit; 
    -moz-appearance:inherit; 
    -webkit-appearance:inherit; 
    background:transparent; 
    border:none; 
    border-radius:0; 
    box-sizing: border-box; 
    margin:0; 
    outline:0; 
    padding:0; 
    text-decoration:none;
    list-style: none;
    font-family: var(--main_font);
    color: inherit;
}

/* ========== Variables ========== */
:root {
    /* Tamaño objetos */
    font-size: 30px;
    /* ===== Variables de color ===== */
    --menu-color: #23282d;
    --main_color: #007cba;
    --hover_color: #074d70;
    --thead_color : #074d701f;
    /* --main_color: #bc0909;
    --hover_color: #910e0e;
    --thead_color : #bc09093b; */
    /* ===== Variables de fuentes ===== */
    --main_font: 'Poppins', sans-serif;
    --fuente-secundaria: "Times New Roman, serif";
}

body {
    width: 100%;
    height: auto;
    position: relative;
    background-color: #eff1f5;
}

button {
    background-color: var(--main_color);
    color: #fff;
    width: 5rem;
    padding: 2% 0;
    border-radius: 15px;
    display: grid;
    place-items: center;
    text-transform: uppercase;
    cursor: pointer;
    margin: 3%;
    font-size: .7rem;
}

button:hover {
    background-color: var(--hover_color);
}

select {
    -webkit-appearance: auto;
}

.validation_message {
    font-size: .6rem;
    color: red;
}

/* ============================================================ */
/* ============= Estilos del Componente Principal ============= */
/* ============================================================ */
header {
    position: fixed;
    width: 100%;
    height: 2rem;
    background-color: var(--menu-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}    

header div {
    width: calc(100%/3);
}    

.toggle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}    

.menu_toggle {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all .3s ease;
    gap: .3rem;
}

.menu_toggle .line {
    position: relative;
    width: 1.3rem;
    height: .14rem;
    background-color: white;
    border-radius: 10px;
}

.menu_toggle .line:nth-child(1) {
    top: 0;
    transform: rotate(0);
    transition: top .2s ease, transform .4s ease;
}

.menu_toggle .line:nth-child(2) {
    opacity: 1;
    visibility: visible;
    transition: all .2s ease;
}

.menu_toggle .line:nth-child(3) {
    top: 0;
    transform: rotate(0);
    transition: top .2s ease, transform .4s ease;
}

.menu_toggle.active .line:nth-child(1) {
    top: .45rem;
    transform: rotate(45deg);
}

.menu_toggle.active .line:nth-child(2) {
    opacity: 0;
    visibility: hidden;
}

.menu_toggle.active .line:nth-child(3) {
    top: -.45rem;
    transform: rotate(-45deg);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}    

.logo img {
    height: 2rem;
    width: auto;
    cursor: pointer;
}    

.user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}    

.user span {
    color: white;
    font-size: .7rem;
}    

.user img {
    height: auto;
    width: 1.2rem;
    margin-left: 3%;
}    

.main_content {
    display: flex;
    padding-top: 2rem;
}    

.navigation_menu {
    position: fixed;
    top: 2rem;
    left: -100%;
    height: 100vh;
    width: 15%;
    background-color: var(--menu-color);
    transition: all .5s ease;
}    

.navigation_menu ul {
    display: flex;
    flex-direction: column;

}    

.navigation_menu ul li {
    color: white;
    font-size: .7rem;
    padding: 5%;
    margin: 3% 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}    

.navigation_menu img {
    height: auto;
    width: 1.2rem;
}    

.hidden_menu {
    left: 0;
    transition: all .5s ease;
}    

.main_section {
    height: 100%;
    width: 100%;
    padding: 1.5rem;
    margin-left: 0;
    transition: all .5s ease;
}    

.width_content {
    margin-left: 15%;
    transition: all .5s ease;

}    

.navigation_menu ul li:hover,
.route_active_menu {
    background-color: var(--main_color);
}    

/* ============================================================ */
/* ================= Estilo del menu principal ================ */
/* ============================================================ */
.main_menu {
    padding: 1rem 1.5rem;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.1rem solid #d7dbde;
}

.main_menu h2 {
    font-size: 1.4rem;
    transition: color 1s;
    font-weight: 400;
    cursor: pointer;
    margin: 0;
}

.main_menu h2:hover {
    color: var(--hover_color);
}

.main_menu  ul {
    display: flex;
    align-items: center;

}

.main_menu ul li {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    background-image: linear-gradient(to right, var(--main_color) 0%, var(--main_color) 100%);
    background-position: bottom left;
    background-size: 0% .2rem; 
    background-repeat: no-repeat;
    transition: all 1s ease;
    padding: 0.4rem 0;
}


.main_menu ul li:hover {
    background-size: 100% .2rem;
}

.route_active {
    background-size: 100% .2rem !important;
}

.main_menu ul li img {
    height: auto;
    width: 1.2rem;
}

.main_menu ul li span {
    margin-top: 2%;
    text-transform: capitalize;
    font-size: .6rem;
    text-align: center;
    width: 5rem;
}

/* ============================================================ */
/* ======================= Estilo tablas ====================== */
/* ============================================================ */
.table_container {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    border: 0.1rem solid #d7dbde;
}

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: #fff;
}

.filter img {
    height: auto;
    width: 1.5rem;
    cursor: pointer;
}

.filter span {
    font-size: 1rem;
    font-weight: 400;
}


.table_style {
    background-color: #fff;
    width: 100%;
    padding: 0 0 1%;
}

.table_style thead {
    background-color: var(--thead_color);
}

.table_style td {
    border-top: 1px solid #ddd; 
}

.table_style td,
.table_style th {
    height: 2rem;
    font-size: .6rem;
    line-height: .9rem;
    padding: 0 1%;
}

.table_style tr:last-child td{
    border-bottom: 1px solid #ddd; 
}

.table_style img {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.table_style tbody tr:hover {
    background-color: #c9c9c9;
}

.table_style tbody td:hover {
    background-color: #8e8e8e;
}
  
.justify_center {
    text-align: center;
}

.justify_left {
    text-align: left;
}

.justify_right {
    text-align: right;
}

.column_id {
    width: 5rem;
}
.column_icon {
    width: 4rem;
}

.pagination_style {
    background-color: white;
    width: 100%;
    display: grid;
    place-items: center;
    padding: 1rem 0;
}

.pagination_style ul {
    margin: 0 !important;
}

.pagination_style span {
    font-size: .6rem !important;
}

.pagination_style .current {
    background: var(--main_color) !important;
}


/* ============================================================ */
/* ====================== Estilo del load ===================== */
/* ============================================================ */
.load {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.37);
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.load img {
    width: 3.5rem;
    height: 3.5rem;
}

/* ============================================================ */
/* =================== Estilo de formularios ================== */
/* ============================================================ */
.close {
    position: absolute;
    top: 4%;
    right: 5%;
    background-color: transparent;
    color: black;
}

.close img {
    height: .7rem;
    width: .7rem;
    cursor: pointer;
}

.close img:hover {
    transform: scale(1.1);
}

.form_style {
    width: 20rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.form_style h2 { 
    padding: 5% 0;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.form_style input[type="password"],
.form_style input[type="text"] {
    width: 90%;
    padding: 3%;
    margin: 3% 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: .7rem;
}

.form_style input::placeholder {
    font-size: .7rem;
}

.form_style select {
    width: 90%;
    padding: 3%;
    margin: 3% 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    font-size: .7rem;
}

.filter_info input[type="number"]:focus,
.filter_name select:focus,
.filter_info input[type="date"]:focus,
.form_style select:focus {
    border: 2px solid var(--main_color);
}

.form_style input[type="number"] {
    width: 90%;
    padding: 3%;
    margin: 1% 0 3%;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: .7rem;
}

.form_style .show_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding:0 5%;
}

.form_style .show_info select {
    width: 100%;
}

.filter_name,
.show_info span {
    font-size: .7rem;
    line-height: 2rem;
}

.form_style .required_fields {
    font-size: .6rem;
    margin: 3%;
    width: 90%;
    text-align: left;
}

.filter_info {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.filter_info input[type="date"] {
    padding: 2.5%;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: .7rem;
    width: 50%;
    margin: 1% 0 3%;
}

.filter_info select {
    margin: 1% 0 3%;
}

.filter_info input[type="number"] {
    width: 30%;
    padding: 3%;
    margin: 1% 0 3%;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: .7rem;
}

/* ============================================================ */
/* ===================== Estilo del modal ===================== */
/* ============================================================ */
.hidden {
    display: none;
}

.show_table {
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.37);
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 1800px) {
    :root {
        font-size: 25px;
    }
}

@media screen and (max-width: 1550px) {
    :root {
        font-size: 21px;
    }
}

@media screen and (max-width: 1290px) {
    :root {
        font-size: 18px;
    }
}

@media screen and (max-width: 1170px) {
    :root {
        font-size: 17px;
    }
}

@media screen and (max-width: 1024px) {
    :root {
        font-size: 14px;
    }
}

@media screen and (max-width: 990px) {
    :root {
        font-size: 20px;
    }

    /* ============================================================ */
    /* ============= Estilos del Componente Principal ============= */
    /* ============================================================ */
    header {
        height: 3rem;
    }

    .navigation_menu {
        left: 0; 
        width: 20%;
    }    

    .hidden_menu {
        left: -100%;
    }  

    .main_section {
        margin-left: 20%;
    } 

    .width_content {
        margin-left: 0%;
    }   

    .menu_toggle {
        gap: .4rem;
    }

    .menu_toggle .line {
        width: 1.7rem;
        height: .2rem;
    }

    .menu_toggle .line:nth-child(1) {
        top: .6rem;
        transform: rotate(45deg);
    }
    
    .menu_toggle .line:nth-child(2) {
        opacity: 0;
        visibility: hidden;
    }
    
    .menu_toggle .line:nth-child(3) {
        top: -.6rem;
        transform: rotate(-45deg);
    }
    
    .menu_toggle.active .line:nth-child(1) {
        top: 0;
        transform: rotate(0);
        transition: top .2s ease, transform .4s ease;
    }
    
    .menu_toggle.active .line:nth-child(2) {
        opacity: 1;
        visibility: visible;
        transition: all .2s ease;
    }
    
    .menu_toggle.active .line:nth-child(3) {
        top: 0;
        transform: rotate(0);
        transition: top .2s ease, transform .4s ease;
    }

    .user img {
        width: 1.8rem;
    }

    .user span {
        font-size: 1rem;
    }

    .navigation_menu {
        top: 3rem;
    }

    .main_content {
        padding-top: 3rem;
    }  
    /* ============================================================ */

    .main_menu {
        flex-direction: column;
        padding: 0;
    }
    
    .main_menu  h2 {
        position: static;
        width: 100%;
        text-align: center;
        padding: 1% 0;
        font-size: 1.3rem;
    }

    .main_menu ul {
        position: static;
        padding: 1% 0;
    }

    .filter img {
        width: 1.8rem;
    } 

    .main_menu ul li img {
        width: 1.4rem;
    }

    .main_menu ul li span {
        font-size: .6rem;
        width: 5rem;
    }
}

@media screen and (max-width: 899px) {
    :root {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    :root {
        font-size: 15px;
    }
}

@media screen and (max-width: 699px) {
    :root {
        font-size: 13px;
    }
}

@media screen and (max-width: 576px) {
    :root {
        font-size: 20px;
    }

    /* ============================================================ */
    /* ============= Estilos del Componente Principal ============= */
    /* ============================================================ */
    header {
        padding: 0 4%;
    }   

    .user img {
        margin-left: 7%;
    }

    .user span {
        display: none;
    }    

    .navigation_menu {
        width: 50% !important;
    }   

    .navigation_menu ul li {
        font-size: 1rem;
        padding: 5% 7%;
    }   

    .navigation_menu {
        width: 1.5rem;
    }

    .main_section {
        margin-left: 0;
    } 
    /* ============================================================ */

    .validation_message {
        font-size: .8rem;
    }

    button {
        width: 6rem;
        font-size: 1rem;
    }

    .form_style {
        left: 50%;
        transform: translateX(-50%);
        top: 10rem;
    }

    .filter_name,
    .show_info span {
        font-size: 1rem;
        line-height: 2.5rem;
    }
    
    .main_menu ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .main_menu ul li {
        padding: 9% 0;
    }

    .main_menu ul li span {
        font-size: .8rem;
        width: 7rem;
    }

    .table_style thead {
        display: none;
    }

    .table_style tr {
        margin-bottom: .3rem;
        border-bottom: .2rem solid #ccc;
        display: block;
        height: auto;
    }

    .table_style td {
        display: block;
        text-align: right;
        width: 100% !important;
        padding: 0 4%;
        line-height: 2.5rem;
        font-size: .9rem;
        height: 2.5rem;
    }

    .table_style tr:first-child {
        border-top: .2rem solid #ccc;
    }

    .table_style tr:last-child {
        border: none;
    }

    .table_style td::before {
        content: attr(data-label);
        font-weight: bold;
        float: left;
    }

    .pagination_style span {
        font-size: .8rem !important;
    }
    

    .form_style h2 { 
        font-size: 1.3rem;
    }

    .filter_info input[type="number"],
    .filter_info input[type="date"],
    .form_style input[type="text"] {
        font-size: 1rem;
    }

    .form_style input::placeholder {
        font-size: 1rem;
    }

    .form_style .required_fields {
        font-size: .7rem;
    }

    .form_style select {
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    :root {
        font-size: 18px;
    }
}

@media screen and (max-width: 450px) {
    :root {
        font-size: 16px;
    }
}

@media screen and (max-width: 375px) {
    :root {
        font-size: 14px;
    }
}








