
<!-- <div *ngIf="!is_load" class="load">
    <img src="../../../assets/gift/Rolling-1s-200px.svg" alt="">
</div> -->
<div class="filter">
    <img src="../../../assets/icon/icon_filter.png" alt="Filtro">
    <span>Filtrar</span>
</div>
<table  class="table_style">
    <thead>
        <tr>
            <th class="column_icons justify_center">Id</th> 
            <th class="column justify_center">Nombre deudor</th>  
            <th class="column justify_center">Fecha ultimo abono</th> 
            <th class="column justify_center">Valor ultimo abono</th>
            <th class="column justify_center">Abono actual</th> 
            <th class="column justify_center">Ultimo saldo</th>
            <th class="column justify_center">Saldo actual</th>
            <th class="column justify_center">Usuario</th> 
  
        </tr> 
    </thead>
    <tbody>
        <tr *ngFor="let history of credit_history">
            <td class="column_icons justify_center">{{history.debtors_credit_fk}}</td>
            <td class="column justify_center">{{history.debtors_names +" " +history.debtors_lastnames}}</td>
            <td class="column justify_center">{{history.last_pass_date}}</td>
            <td class="column justify_left">{{history.last_pass}}</td>
            <td class="column justify_left">{{history.current_pass}}</td>
            <td class="column justify_left">{{history.last_balance}}</td>
            <td class="column justify_left">{{history.current_balance}}</td>
            <td class="column justify_center">{{history.user_names + " "+ history.user_lastnames}}</td>
        </tr>
    </tbody>
</table>

